*
*/

!.gitignore
!README.md
!.env.example

!docker-compose-zanemedia.yml

!custom
custom/*
!custom/Dockerfile-*

!secrets_example
!secrets_example/*

!compose
compose/*
!compose/**

!appdata/traefik3
appdata/traefik3/*
!appdata/traefik3/*.example
!appdata/traefik3/rules
appdata/traefik3/rules/*
!appdata/traefik3/rules/*.example
!appdata/traefik3/rules/ws
appdata/traefik3/rules/ws/*
!appdata/traefik3/rules/ws/*.example
!appdata/traefik3/rules/toml
appdata/traefik3/rules/toml/*
!appdata/traefik3/rules/toml/*.example
!appdata/traefik3/rules/ds918
appdata/traefik3/rules/ds918/*
!appdata/traefik3/rules/ds918/*.example
!appdata/traefik3/rules/ds918/tls-opts.yml
!appdata/traefik3/rules/ds918/middlewares-*.yml
!appdata/traefik3/rules/ds918/chain-*.yml
!appdata/traefik3/rules/hs
appdata/traefik3/rules/hs/*
!appdata/traefik3/rules/hs/*.example
!appdata/traefik3/rules/hs/tls-opts.yml
!appdata/traefik3/rules/hs/middlewares-*.yml
!appdata/traefik3/rules/hs/chain-*.yml
!appdata/traefik3/rules/ws
appdata/traefik3/rules/ws/*
!appdata/traefik3/rules/ws/*.example
!appdata/traefik3/rules/ws/tls-opts.yml
!appdata/traefik3/rules/ws/middlewares-*.yml
!appdata/traefik3/rules/ws/chain-*.yml