*
*/

!.gitignore
!README.md
!.env.example

!docker-compose-zanemedia.yml

!custom
custom/*
!custom/Dockerfile-*

!secrets_example
!secrets_example/*

!compose
compose/*
!compose/**

!appdata
appdata/*

!appdata/traefik3
appdata/traefik3/*
!appdata/traefik3/rules
appdata/traefik3/rules/*
!appdata/traefik3/rules/zanemedia
appdata/traefik3/rules/zanemedia/*
!appdata/traefik3/rules/zanemedia/tls-opts.yml
!appdata/traefik3/rules/zanemedia/middlewares-*.yml
!appdata/traefik3/rules/zanemedia/chain-*.yml