*
*/

!.gitignore
!README.md
!.env.example

!docker-compose-silentmedia.yml

!custom
custom/*
!custom/Dockerfile-*

!secrets_example
!secrets_example/*

!archives
archives/*

!compose
compose/*
!compose/**

!appdata
appdata/*

!appdata/traefik3
appdata/traefik3/*
!appdata/traefik3/rules
appdata/traefik3/rules/*
!appdata/traefik3/rules/silentmedia
appdata/traefik3/rules/silentmedia/*
!appdata/traefik3/rules/silentmedia/tls-opts.yml
!appdata/traefik3/rules/silentmedia/middlewares-*.yml
!appdata/traefik3/rules/silentmedia/chain-*.yml