########################### NETWORKS
# You may customize the network subnets (192.168.x.0/24) below as you please.
networks:
  default:
    driver: bridge
  socket_proxy:
    name: socket_proxy
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.91.0/24
  t3_proxy:
    name: t3_proxy
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.90.0/24
  
########################### SECRETS
secrets:
  authelia_jwt_secret:
    file: $DOCKERDIR/secrets/authelia_jwt_secret
  authelia_session_secret:
    file: $DOCKERDIR/secrets/authelia_session_secret
  authelia_notifier_smtp_password:
    file: $DOCKERDIR/secrets/authelia_notifier_smtp_password
  authelia_storage_encryption_key:
    file: $DOCKERDIR/secrets/authelia_storage_encryption_key
  basic_auth_credentials:
    file: $DOCKERDIR/secrets/basic_auth_credentials
  cf_dns_api_token:
    file: $DOCKERDIR/secrets/cf_dns_api_token
  guac_db_name:
    file: $DOCKERDIR/secrets/guac_db_name
  guac_mysql_user:
    file: $DOCKERDIR/secrets/guac_mysql_user
  guac_mysql_password:
    file: $DOCKERDIR/secrets/guac_mysql_password
  mysql_root_password:
    file: $DOCKERDIR/secrets/mysql_root_password
  plex_claim:
    file: $DOCKERDIR/secrets/plex_claim
  watchtower_notification_url:
    file: $DOCKERDIR/secrets/watchtower_notification_url
  
include:
  ########################### SERVICES
  # HOSTNAME defined in .env file

  # CORE
  - compose/$HOSTNAME/authelia.yml
  - compose/$HOSTNAME/ddns-updater.yml
  - compose/$HOSTNAME/portainer.yml
  - compose/$HOSTNAME/socket-proxy.yml
  - compose/$HOSTNAME/traefik.yml
  # ADMIN
  - compose/$HOSTNAME/guacamole.yml
  # APPS
  - compose/$HOSTNAME/bazarr.yml
  - compose/$HOSTNAME/calibre.yml
  - compose/$HOSTNAME/flaresolverr.yml
  - compose/$HOSTNAME/homepage.yml
  - compose/$HOSTNAME/jellyplex-watched.yml
  - compose/$HOSTNAME/notifiarr.yml
  - compose/$HOSTNAME/prowlarr.yml
  - compose/$HOSTNAME/radarr-tagger.yml
  - compose/$HOSTNAME/seadexarr.yml
  - compose/$HOSTNAME/sonarr-tagger.yml
  - compose/$HOSTNAME/qbit_manage.yml
  # ARRS
  - compose/$HOSTNAME/lidarr.yml
  - compose/$HOSTNAME/radarr.yml
  - compose/$HOSTNAME/readarr-audiobooks.yml
  - compose/$HOSTNAME/readarr-books.yml
  - compose/$HOSTNAME/sonarr.yml
  # DATABASES
  - compose/$HOSTNAME/mariadb-guac.yml
  - compose/$HOSTNAME/mongodb-ytdl.yml
  - compose/$HOSTNAME/prometheus.yml
  # DNS
  - compose/$HOSTNAME/adguardhome.yml
  # DOWNLOADS
  - compose/$HOSTNAME/cross-seed.yml
  - compose/$HOSTNAME/deemix.yml
  - compose/$HOSTNAME/qbittorrent.yml
  - compose/$HOSTNAME/slskd.yml
  - compose/$HOSTNAME/ytdl-material.yml
  # FILES
  - compose/$HOSTNAME/docker-ripper.yml
  - compose/$HOSTNAME/mkvtoolnix.yml
  - compose/$HOSTNAME/tdarr.yml
  - compose/$HOSTNAME/vscode.yml
  # MAINTENANCE
  - compose/$HOSTNAME/deunhealth.yml
  - compose/$HOSTNAME/wud.yml
  # MEDIA
  - compose/$HOSTNAME/audiobookshelf.yml
  - compose/$HOSTNAME/calibre-web.yml
  - compose/$HOSTNAME/jellyfin.yml
  - compose/$HOSTNAME/kavita.yml
  - compose/$HOSTNAME/navidrome.yml
  - compose/$HOSTNAME/plex.yml
  - compose/$HOSTNAME/tunarr.yml
  # MONITORING
  - compose/$HOSTNAME/grafana.yml
  - compose/$HOSTNAME/node_exporter.yml
  - compose/$HOSTNAME/tautulli.yml
  # VPN
  - compose/$HOSTNAME/glueforward-qbittorrent.yml
  - compose/$HOSTNAME/glueforward-slskd.yml
  - compose/$HOSTNAME/gluetun-qbittorrent.yml
  - compose/$HOSTNAME/gluetun-slskd.yml
  - compose/$HOSTNAME/mamapi.yml